<link rel="stylesheet" href="/css/navbar.css">
<header>
    <img class="logo" src="images/logo_minsa.png" alt="logo">
    <nav>
        <ul class="nav__links">
            <li><a href="/usuario">Inicio</a></li>
            <li><a href="/DatosPersonales">Perfil</a></li>
        </ul>
    </nav>
    <a class="button__logout" href="#"><button>Logout</button></a>
</header>