<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Vacunación</title>
    <link rel="stylesheet" href="/css/foro.css">
    <!-- Start of  Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=22330404-1a48-48fc-9661-aa730165bb5e"> </script>
    <!-- End of  Zendesk Widget script -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
    <%- include("layouts/navbar") %>  

    <div class="container">
        <div class="subforum">
            <div class="subforum__title">
                <h1>FORUM</h1>
            </div>
            <div class="subforum__textspace">
                <textarea name="" id="post" cols="30" rows="10"></textarea>
                <button id="publicar">Publicar</button>
            </div>
            
            
        </div>
        <div>
            
        </div>
    </div>
    <script src="/js/data/Post.js"></script>
    <script src="/js/controllers/ForumManager.js"></script>
    <script src="/js/data/Usuario.js"></script>
    <script src="/js/controllers/UsuarioManager.js"></script>
    <script src="/js/foro.js"></script>  
    <%- include("layouts/footer") %>
</body>

</html>