<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Vacunación</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/DatosPersonalesCSS.css">
    <link rel="stylesheet" href="/css/usuario.css">
    <!-- Start of  Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=22330404-1a48-48fc-9661-aa730165bb5e"> </script>
<!-- End of  Zendesk Widget script -->
</head>
<body>
    <%- include("layouts/navbar") %>  
    <main>
        <div class="row">
            <!--Para los datos del perfil Nombre, APellido, entre otros-->
            <div class="col PanelDatos  p-4" style="height: 780px;"  >
                <!--Título y botón-->
                <div class="row TitulosCard">
                    <div class="col ">
                        <h4 class="fw-bold fw-bold fs-2">Historial Clínico </h4>
                    </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <img class="img-fluid" src="/images/inicio.jpg" alt="">
                    </div>
                    <div class="col Container2" style="height: 200px;" >
                        <div class="row mb-2 Inputs" style="height: 60px;">
                            <label for="" class="col-sm-2 fw-bold col-form-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="Alejandro">
                            </div>
                        </div>
                        <div class="row mb-3 Inputs">
                            <label for="" class="col-sm-2 col-form-label fw-bold">Apellido</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="Sarmiento">
                            </div>
                        
                        </div>
                       
                    </div>

                </div>
                <div >
                    <div class="pt-3">
                        <h4 class="fs-3 fw-bold">Enfermedad del paciente</h4>
                        <div class="col Container2 p-3" style="height: 300px;">
                            <div class="row" style="padding:60px;">
                                <div class="col p-3 ">
                                    <ul>
                                        <li class="fs-3 fw-bold">Diabetes</li>
                                        <li class="fs-3 fw-bold" >Colesterol</li>
                                        <li class="fs-3 fw-bold">Fibrosis hepática</li>
                                    </ul>
                                </div>
                                <div class="col p-3">
                                    <ul>
                                        
                                        <li class="fs-3 fw-bold">Síndrome de Eh</li>
                                        <li class="fs-3 fw-bold">Cancer</li>
                                        <li class="fs-3 fw-bold">Craneosinostosis</li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>

                <!--Fin-->
                

            </div>
            <div class="col">
                
                <h4 class="fw-bold">Subir más información sobre tu historial clínico</h4>
                <div class=" row Medicamento"style="height: 360px;" >
                    <div class="col"><input class="btn-secondary" type="file" name="archivosubido" ></div>
                    <div class="col "> <img src="images/carga-masiva.png" class="img-fluid rounded float-start" alt="UPLOAD"></div>
                    
                           
                            
                    
                </div>
                <div class="row pt-3" >
                    <h4 class="fw-bold">Medicamentos para el paciente</h4>
                    <div class="col Container2"style="height: 300px;">
                        <ul>
                            <li class="fw-bold">Azul de Prusia​</li>
                            <li class="fw-bold">Cafeína Citrato</li>
                        </ul>
                    </div>
                </div>
                
            </div>
           
        </div>
    </main>
    <%- include("layouts/footer") %>
</body>
</html>