<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/usuario.css">
    <!-- Start of  Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=22330404-1a48-48fc-9661-aa730165bb5e"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!-- End of  Zendesk Widget script -->

</head>
<body>
    
    <!--menu-->        
       
    <%- include("layouts/navbar") %>           
    
    <!-- las imagenes desplegadas de achim -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/Noticia1.jpeg" class="d-block w-100" alt="Noticia1">
          </div>
          <div class="carousel-item">
            <img src="/images/Noticia2.jpg" class="d-block w-100" alt="Noticia2">
          </div>
          <div class="carousel-item">
            <img src="/images/Noticia3.jpg" class="d-block w-100" alt="Noticia3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <!-- termino sus imagenes -->

      <div class="row others">
          
        

        <div class="col-3">
            <div class="row m-2 others">
                <img  
                src="/images/MinsaFolleto1.jpg" 
                alt="MinsaFolleto">
        
            </div>              
        </div>

        <div class="col-6">

            <div class="row m-4 comentary">
                
                <img class="img-fluid img-doctor" src="https://www.meme-arsenal.com/memes/fdd1a0f140aa6dfdc0fc0550e67b7736.jpg" alt="Doctor">
                <div class="m-1 comentary-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut porttitor massa. Aenean vitae condimentum risus, nec feugiat risus. Vivamus ac condimentum eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut porttitor massa. Aenean vitae condimentum risus, nec feugiat risus. Vivamus ac condimentum eros.
                </div>
            </div>

            <div class="row m-4 comentary">
                <img class="img-fluid img-doctor" src="/images/Doctor.jpg" alt="Doctor">
                <div class="m-1 comentary-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut porttitor massa. Aenean vitae condimentum risus, nec feugiat risus. Vivamus ac condimentum eros.
                </div>
            </div>
            
        </div>


        <div class="col-3">
            <div class="row m-2 others">
                <img  
                src="/images/MinsaFolleto2.jpg" alt="MinsaFolleto">
        
            </div>              
        </div>


    </div>


    <%- include("layouts/footer") %>
    



</body>
</html>