

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #F7FAFA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.carousel-item {
    height: 40rem;
    background-position: center;
    background-size: cover;
}
.carousel-item h1,p {
    color: #282828;
}


.doctor> img {
    width: 100px; 
    height: 100px;
    margin-top: 60%;
   }



.cuadrado{
    padding:5px;
    background-color: #75cec97a;
    padding: 3px 10px;
    border: PowderBlue 5px solid;
    border-radius: 20px;
    color: white;
    height: 100px;
    }

   



    .img-doctor{
        border-radius: 50%;
        height: 85%;
        width: 85%;
    }

    .comentary{
        display:grid;
        grid-template-columns: 40% 60%;
        margin:0;
        padding:0;
        align-items: center;
    }

    .comentary-text{
        background: bisque;
        border-radius: 20px;
        flex-wrap:wrap;
        font-size: 1vw;
    }

    
    .others{
        margin:0;
        padding:0;
        background: #F7FAFA;
        align-items:center;
    }

    .others> img{
        max-width: 100%;
    }

    .comentary> img{
        max-width: 100%;
    }
     


