.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.box__col {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px ;
    
    
}

.box__container {
    margin: 20px ;
    width: 100%;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.data {
    
    width: 100%;
}

.data h4 {
    color: #353c4e;
    margin-bottom: 5px;
}

.data p {
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
}

.data button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    border:none;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
    margin: 20px 20px;
}
  

.alert {
    padding: 13px;
    margin-top: 20px;
    font-size: 13px;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
